<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-lg-3 col-xl-2 px-0">
            <app-side-menu style="position: sticky; top: 0; display: block; height: 100vh;"></app-side-menu>
        </div>
        <div class="col-10 d-flex flex-column p-3" style="background-color: #111722; color: white;">

            <h1>Calendário Semanal</h1>

            <div class="cabecalho">

                <button
                    class="btn-dia"
                    (click)="mudarSemana(-7)">
                    &lt;
                </button>

                <div class="data">

                    <h2>{{ semana }}</h2>

                </div>

                <button
                    class="btn-dia"
                    (click)="mudarSemana(+7)">
                    &gt;
                </button>

            </div>

            <div class="conteudo">

                <section class="painel-principal">

                    <div class="calendario-semana">

                        <div
                            class="dia-coluna"
                            *ngFor="let dia of tarefasDias"

                            [class.dia-atual]="
                                dia.data.getDate() === dataAtual.getDate()
                                &&
                                dia.data.getMonth() === dataAtual.getMonth()
                            ">

                            <div class="titulo-dia">

                                {{ dia.letra }}

                            </div>

                            <div
                                class="tarefa"
                                *ngFor="let tarefa of dia.tarefas"
                                [style.color]="tarefa.categoria?.cor">

                                {{ tarefa.descricao }}

                            </div>

                        </div>

                    </div>

                </section>

                <aside class="painel-lateral">

                    <div class="calendario">

                        <h3>Calendário</h3>

                        <div class="mes">

                            {{ mesAno }}

                        </div>

                        <div class="dias-semana">

                            <span>S</span>
                            <span>T</span>
                            <span>Q</span>
                            <span>Q</span>
                            <span>S</span>
                            <span>S</span>
                            <span>D</span>

                        </div>

                        <div class="dias">

                            <span
                                *ngFor="let dia of calendario"

                                [class.vazio]="dia === null"

                                [class.hoje]="dia === diaAtual"

                                (click)="selecionarDia(dia)">

                                {{ dia ?? '' }}

                            </span>

                        </div>

                    </div>

                    <div class="categorias">

                        <h3>Categorias</h3>
                        @for (categoria of categorias; track $index) {
                            <div class="categoria-item" >
                                <div class="cor" [style.background-color]="categoria.cor"></div>
                                {{categoria.nome}}
                            </div>
                        }
                    </div>

                </aside>

            </div>
        </div>
    </div>
</div>